name: CI

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '0 0 * * 1'

jobs:
  code-style:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout V
        uses: actions/checkout@v2
        with:
          repository: vlang/v
      - name: Build V
        run: make
      - name: Checkout symlinker
        uses: actions/checkout@v2
        with:
            path: symlinker
      - name: vet
        run: ./v vet -W symlinker/
      - name: fmt
        run: |
          ./v fmt -diff symlinker/
          ./v fmt -verify symlinker/

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout V
        uses: actions/checkout@v2
        with:
          repository: vlang/v
      - name: Build V
        run: make
      - name: Checkout symlinker
        uses: actions/checkout@v2
        with:
            path: symlinker
      - name: Run tests
        run: ./v test symlinker
      - name: Run tests with -W
        run: ./v -W test symlinker

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout V
        uses: actions/checkout@v2
        with:
          repository: vlang/v
      - name: Build V
        run: make
      - name: Checkout symlinker
        uses: actions/checkout@v2
        with:
            path: symlinker
      - name: Development build
        run: ./v symlinker/
      - name: Production build
        run: ./v -prod -compress symlinker/
